/***********************************************Tag selection***********************************************/
body{
  background-color: #0F0E0E;
  font-family: "Courier New", monospace, arial;
}
a:hover{
  color: #8B9A46;
}
h1, h3, p, li, th, td{
  color: #eee;
}
hr{
  border-style: none;
  border-top: dotted #541212;
  border-width: 8px;
  width: 5%;
}
li{
  line-height: 40px;
}
/***********************************************Classes selection***********************************************/
.link{
  color: #EEEEEE;
  text-decoration: none;
}
.header{
  line-height: 70px;
  margin-left: 3%
}
/***********************************************ID selection***********************************************/
#footer{
  color: #EEEEEE;
  text-decoration: none;
  margin-left: 90%;
}
